/* General styling */
html, body {
  height: 100%;
  margin: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* In your CSS file, e.g., styles.css */
body {
  background-color: black; /* Default background color */
  color: white; /* Default text color */
}

body.light-mode {
  background-color: white; /* Background color for light mode */
  color: black; /* Text color for light mode */
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000; /* Black background for the root element */
  color: #fff; /* White text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
  flex: 1;
  transition: background-color 0.5s ease; 
}

.footer {
  background-color: #333366; /* Dark blue footer */
  color: #FF9933; /* Orange text */
  padding: 1rem 0;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Header styling */
.header {
  background-color: #333366; /* Dark blue background for header */
  transition: background-color 0.5s ease;
}
.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: #FF9933; /* Orange text */
  transition: color 0.5s ease;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus {
  color: #cc7a00; /* Darker orange on hover and focus */
  transition: color 0.5s ease;
}

.text-orange {
  color: #FF9933; /* Orange color for brand text */
}

/* Contact info styling */
.contact-info {
  position: relative;
  padding: 10px;
  background-color: #000; /* Black background for contact info */
  color: #FFF; /* White text */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.contact-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contact-title {
  margin: 0;
}

.contact-text {
  margin-top: 20px;
}

.contact-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FF9933; /* Orange link */
  transition: color 0.5s ease;
}

/* Project card styling */
.project {
  width: calc(33.333% - 32px); /* Ensure three items in a row with margins */
  overflow: hidden; /* Ensures content does not overflow the box */
  border: 1px solid #FF9933; /* Orange border */
  padding: 10px; /* Adds padding inside the box */
  box-sizing: border-box;
  text-align: center;
  margin: 16px; /* Adds margin between cards */
  background-color: #333366; /* Dark blue background for project cards */
  color: #fff; /* White text color */
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 16px;
  color: #FF9933; /* Orange title */
}

.project-img {
  width: 100%;
  object-fit: cover; /* Ensure the image covers the area without distorting */
  display: block; /* Ensure the image is treated as a block element */
  margin-bottom: 16px;
  border-radius: 4px; /* Adds some rounding to the image corners */
}

.project-text {
  margin: 16px 0;
}

.project-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #FF9933; /* Orange button */
  color: black;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.project-link:hover {
  background-color: #fd850eee; /* Darker orange on hover */
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000; /* Black background for the portfolio section */
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  .project {
    width: calc(50% - 32px); /* Two items in a row for smaller screens */
  }
}

@media (max-width: 480px) {
  .project {
    width: 100%; /* One item in a row for very small screens */
  }
}

.project-icons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the icons */
  gap: 10px; /* Adds space between icons */
  margin-bottom: 16px; /* Space below the icons */
  margin-top: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fallDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

.fall-down {
  animation: fallDown 0.5s ease forwards;
}

.hidden {
  visibility: hidden;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.flex-container img {
  max-width: 100%;
  margin: 0 auto; /* Center the image */
  border-radius: 10px; /* Optional: Add rounding to the image corners */
}

.flex-container .text {
  flex: 1;
  margin-left: 20px;
}

.flex-container.flex-row-reverse .text {
  margin-left: 0;
  margin-right: 20px;
}

.content-img {
  max-width: 100%;
  height: auto;
}

/* Light mode styles */
.light-mode {
  background-color: #fff; /* White background for the entire page */
  color: #000; /* Black text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-mode .header,
.light-mode .footer,
.light-mode .project,
.light-mode .portfolio {
  background-color: #C3B1E1; /* White background */
  color: #FFE700; /* Black text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-mode .navbar-dark .navbar-brand,
.light-mode .navbar-dark .nav-link {
  color: #FFE700; /* Gold text */
  transition: color 0.5s ease;
}

.light-mode .navbar-dark .navbar-brand:hover,
.light-mode .navbar-dark .navbar-brand:focus,
.light-mode .navbar-dark .nav-link:hover,
.light-mode .navbar-dark .nav-link:focus {
  color: #FFD700; /* Slightly darker gold text on hover and focus */
  transition: color 0.5s ease;
}

.light-mode .text-orange {
  color: #FFE700; /* Gold color for brand text */
}

.light-mode .contact-info {
  background-color: #fff; /* White background for contact info */
  color: #000; /* Black text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-mode .contact-link {
  color: #FFC770; /* Gold link */
  transition: color 0.5s ease;
}

.light-mode .project {
  background-color: #C3B1E1; /* White background for project cards */
  color: #000; /* Black text color */
  border: 1px solid #FFE700; /* Gold border */
}

.light-mode .project-title {
  color: #FFE700; /* Gold title */
}

.light-mode .project-link {
  background-color: #FFE700; /* Gold button */
  color: #000; /* Black text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.light-mode .project-link:hover {
  background-color: #FFB700; /* Slightly darker gold button on hover */
}

.light-mode .portfolio {
  background-color: #fff; /* White background for the portfolio section */
}

.light-mode .bg-dark-blue {
  background-color: #C3B1E1; /* Purple background for the navbar */
}

.light-mode #root {
  background-color: #fff; /* White background for the root element */
  color: #000; /* Black text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}
.btn-dark-mode .fa-moon {
  color: #fff; /* Black moon icon */
}

.light-mode .btn-light-mode .fa-moon {
  color: #000; /* White moon icon */
}
